[submodule "dmft-ipt"]
	path = lib/dmft-ipt
	url = https://github.com/bellomia/MOTTlab.git
[submodule "dmft-lab"]
	path = lib/qcmp-lab
	url = https://github.com/bellomia/DMFT-LAB
[submodule "dmft-tools"]
	path = lib/dmft-tools
	url = https://github.com/QcmPlab/DMFTtools
[submodule "dmft-ed"]
	path = lib/dmft-ed
	url = https://github.com/QcmPlab/LIB_DMFT_ED
[submodule "cdmft-ed"]
	path = lib/cdmft-ed
	url = https://github.com/QcmPlab/CDMFT-LANC-ED
[submodule "scifor"]
	path = lib/scifor
	url = https://github.com/QcmPlab/SciFortran
[submodule "edlat"]
	path = lib/edlat
	url = https://github.com/QcmPlab/EDlattice.git
